<div class="footer container " data-background-color="black">
    <nav class="float-left">
        <ul>
            <li>
                <a href="https://www.facebook.com/profile.php?id=100008710653218">Thành Đạt</a>
            </li>
            <li>
                <a href="https://www.facebook.com/rachel.morri.58">Thùy Linh</a>
            </li>
            <li>
                <a href="https://www.facebook.com/thanhvy.ahn/">Thanh Vy</a>
            </li>
        </ul>
    </nav>
    <div class="copyright float-right">&copy; TicketBox Project - 18CLC-KTPM2
    </div>
</div>