<% include ../head %>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <% include ../navbar %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

            <!-- Header -->
            <% include ../header %>
              <!-- End of Header -->

              <!-- Begin Page Content -->
              <div class="container-fluid">

                <!-- Show Data -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h1 class="m-0 font-weight-bold text-primary text-center">Edit Showtime</h6>
                  </div>

                  <div class="card-body">
                    <div class="container">
                      <form action="/admin/showtime/edit" method="post">
                        <div class="form-group">
                          <label for="theater">Theater</label>
                          <select name="idtheater" id="theater">
                            <% theaters.forEach(function(itemTheater){ %>
                              <option value="<%= itemTheater.id %>">
                                <%= itemTheater.name %>
                              </option>
                              <% }); %>
                          </select>
                          <br>
                          <br>
                          <label for="film">Film</label>
                          <select name="idfilm" id="film">
                            <% films.forEach(function(itemFilm){ %>
                              <option value="<%= itemFilm.id %>">
                                <%= itemFilm.title %>
                              </option>
                              <% }); %>
                          </select>
                          <br>
                          <br>

                          <label for="birthday">The Beginning Day:</label>
                          <input type="date" id="beginningday" name="beginningday" style="margin-right:70px ;">

                          <label for="">The End Day</label>
                          <input type="date" id="endday" name="endday">

                          <div style="padding-left : 30px;">
                            <input type="checkbox" onClick="toggle(this)">
                            <label for="starttime1">Select All</label><br>

                            <input type="checkbox" id="starttime1" name="starttime1" value="08:00:00"
                              class="checkboxshowtime">
                            <label for="starttime1">08:00:00</label><br>

                            <input type="checkbox" id="starttime2" name="starttime2" value="10:00:00"
                              class="checkboxshowtime">
                            <label for="starttime2">10:00:00</label><br>

                            <input type="checkbox" id="starttime3" name="starttime3" value="12:00:00"
                              class="checkboxshowtime">
                            <label for="starttime3">12:00:00</label><br>

                            <input type="checkbox" id="starttime4" name="starttime4" value="14:00:00"
                              class="checkboxshowtime">
                            <label for="starttime4">14:00:00</label><br>

                            <input type="checkbox" id="starttime5" name="starttime5" value="16:00:00"
                              class="checkboxshowtime">
                            <label for="starttime5">16:00:00</label><br>

                            <input type="checkbox" id="starttime6" name="starttime6" value="18:00:00"
                              class="checkboxshowtime">
                            <label for="starttime6">18:00:00</label><br>

                            <input type="checkbox" id="starttime7" name="starttime7" value="20:00:00"
                              class="checkboxshowtime">
                            <label for="starttime7">20:00:00</label><br>

                            <input type="checkbox" id="starttime8" name="starttime8" value="22:00:00"
                              class="checkboxshowtime">
                            <label for="starttime8">22:00:00</label><br>
                          </div>
                        </div>
                        <button type=" submit" class="btn btn-primary" style="width: 100%;">Save changes</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of Main Content -->

              <!-- Footer -->
              <% include ../footer%>
                <!-- End of Footer -->
          </div>
          <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <% include ../logout %>

          <!-- Add Javascript-->
          <% include ../javascripts-addon %>
  </body>

  </html>